.header {
  padding: 30px 15px;
  border-bottom: 1px solid #00000083;
}
.form {
}

.searchBox {
  position: relative;
  width: 305px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 10px 5px;
  padding-left: 36px;
  border: 1px solid #00000067;
  border-radius: 6px;
}

.btn {
  position: absolute;
  top: 7px;
  left: 2px;
  border: none;
  background-color: transparent;
}

.invalidMsg {
  position: absolute;
  left: 0;
  bottom: -21px;
  display: block;
  color: rgb(161, 5, 5);
}
